:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: lato, sans-serif !important;
  background-color: var(--mainWhite) !important;
  color: var(--mainDark);
}

.text-tittle {
  font-family: monospace, Courier;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.nav-link {
  color: var(--mainWhite) !important;
  font-size: 1.3rem;
}

.card {
  overflow: hidden;
}

.card:hover {
 border: 1px solid rgba(0, 0, 0, .2) !important;
 box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .2) !important;
}

.card:hover .card-footer {
  background-color: rgb(247,247,247) !important;
}

.card-top-img {
  transition: all .5s linear !important;
}

.cart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem .4rem;
  background-color: var(--lightBlue);
  border: none;
  color:  var(--mainWhite);
  font-size: 1.4rem;
  border-radius: 0.5rem 0 0 0;
  transform: translate(100%, 0);
  transition: all .5s linear !important;
}

.cart-btn:hover {
  color: var(--mainBlue);
}

.img-container {
  position: relative;
  overflow: hidden;
  transition: all .5s linear;
}

.img-container:hover  {
  transform: scale(1.2);
}

.card:hover .cart-btn {
  transform: translate( 0, -120%);
}